<!DOCTYPE html>
<html>
<head>
	<title>Some Film Appreciation</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-aria.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
	<script src="ui-bootstrap/ui-bootstrap-2.5.0.js"></script>
	<script src="ui-bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.7.3/d3.js"></script>
	<script src="mainModule.js"></script>
	<link href="style.css" rel="stylesheet">
	<link rel="icon" type="image/png" href="favicon.png">
</head>
<body>
	<header>
		<h1 class="title">Some Film Appreciation.</h1>
		<p class="sub-title">Micro-reviews of Egyptian Cinema</p>
	</header>

	<ng-cloak>
	<div ng-app="app" class="container">
		<uib-tabset active="active">

		<uib-tab index="0" heading="Movies">
			<div ng-controller="iconCtrl">
				<button class="movies" ng-repeat="icon in movies">
					<div class="movie-icon">
						<div class="review-container">
							<div class="review">{{icon.shortReview}} 
								<br> Released in {{icon.yearReleased}}. 
							</div>
							<img class="icon" src="{{icon.movieIcon}}"></img>
							<div ng-init="icon.rating">
							<div uib-rating read-only="isReadonly" ng-model="icon.rating">{{icon.rating}}</div>
						</div>
					</div>
					</a>
				</button>
			</div>
		</uib-tab>


		<uib-tab index="1" heading="Visualization">
			<div ng-controller="chartCtrl">
				<scatter-chart data="movies"></scatter-chart>
			</div>
		</uib-tab>


		<uib-tab index="2" class="resources" heading="Resources">
		<br>
			<p>Looking to improve your Egyptian Arabic skills? Check out the following links:</p>
		 	<ul>
		 		<br>
		 		<a href="http://arabic.desert-sky.net/vocab.html" target="_blank"><li>Arabic Desert Sky Vocabulary</li></a>
		 		<a href="http://arabic.desert-sky.net/grammar.html" target="_blank"><li>Arabic Desert Sky Grammar</li></a>
		 		<a href="https://www.youtube.com/user/MBCMASR" target="_blank"><li>MBC Masr's YouTube Channel</li></a>
		 		<a href="https://www.youtube.com/user/CBCEgyptDrama/videos" target="_blank"><li>CBC Drama's YouTube Channel</li></a>
		 		<a href="https://www.youtube.com/user/MelodyEntInc" target="_blank"><li>Melody Aflam's YouTube Channel</li></a>
		 		<a href="https://www.youtube.com/user/MelodyDramaTV/videos" target="_blank"><li>Melody Drama's YouTube Channel</li></a>
		 		<a href="https://www.youtube.com/channel/UCHQe3QQltRVUBYwEW2dLHWQ/videos" target="_blank"><li>Melody Classic's YouTube Channel</li></a>
		 	</ul>
		</uib-tab>

		</uib-tabset>
  </div>
  <ng-cloak>
</body>
</html>
